# OSX specific
.DS_Store
.AppleDouble
.LSOverride
Icon

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Sublime setting specific
*.cache
*.last-run

# Package Control specific - https://sublime.wbond.net/docs/syncing
Package\ Control.last-run
Package\ Control.ca-list
Package\ Control.ca-bundle
Package\ Control.system-ca-bundle
Package\ Control.cache
Package\ Control.ca-certs
